.recipe {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.recipeBody {
    text-align: center;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    background: wheat;
}

img {
    background-color:wheat;
}





















