.Options {
    position: fixed;
    top: 15px;
    right: 25px;
    z-index: 999;
    transform: scale(2);
    transition: color .15s ease;
    padding: 0 3px;
    background: none;
}

.Options i {
    background: none;
    color: #ea6534;
}

.Options:hover i {
    cursor: pointer;
    color: #b8512a;
}

.optionsArea {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    height: 100vh;
    width: 40vw;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%);
    background: white;
    display: flex;
    align-items: center;
    justify-content: right;
}

.optionsArea div {
    background: none;
    color: #ea6534;
    width: 60%;
    height: 80%;
    text-align: center;
    font-size: 32px;
}

.activateOptions {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}